<div id="filter-wrapper">
  <div class="filter-dropdown"><span>Type:</span>
    <button onclick="myFunction()" class="dropbtn">Type Placeholder</button>
    <div class="dropdown">
        <a href="#">Online Self Paced</a>
        <a href="#">Online Bootcamp</a>
        <a href="#">Campus Bootcamp</a>
    </div>
  </div>
  <div class="filter-dropdown"><span>Category:</span>

  </div>
  <div class="filter-dropdown"><span>Language:</span>

  </div>
  <div class="filter-dropdown"><span>Location:</span>

  </div>
</div>
