<div id="filter-wrapper">
  <div class="filter-dropdown"><span>Type:</span>
    <select id="filter-select">
      <option value=""></option>
      <option value="self-paced">Online Self Paced</option>
      <option value="online-bootcamp">Online Bootcamp</option>
      <option value="campus-bootcamp">Campus Bootcamp</option>
    </select>
  </div>
  <div class="filter-dropdown"><span>Category:</span>
    <select id="filter-select">
      <option value=""></option>
      <option value="full-stack-developer">Full Stack Developer</option>
      <option value="front-end-developer">Front End Developer</option>
      <option value="back-end-developer">Backend Developer</option>
      <option value="ui-ux-designer">UI/UX Designer</option>
    </select>
  </div>
  <div class="filter-dropdown"><span>Language:</span>
    <select id="filter-select">
      <option value=""></option>
      <option value="ruby">Ruby on Rails</option>
      <option value="javascript">Javascript</option>
      <option value="nodejs">NodeJS</option>
      <option value="reactjs">ReactJS</option>
      <option value="python">Python</option>
      <option value="angular">Angular</option>
    </select>
  </div>
  <div class="filter-dropdown"><span>Location:</span>
    <select id="filter-select">
      <option value=""></option>
      <option value="chicago">Chicago</option>
      <option value="new-york">New York</option>
      <option value="san-francisco">San Francisco</option>
      <option value="online">Online</option>
    </select>
  </div>
</div>
