// Variables

// Fonts
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
$font-family:               'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$primary-green:             #4ECE7B;
$primary-pink:              #E961AB;
$primary-blue:              #2CAED6;
$primary-red:               #F55739;
$primary-text:              #454552;
$full-star:                 #D7C009;
$no-star:                   #A7A7A7;
$secondary-text:            #FFFFFF;
$background-grey:           #F3F0F0;

// Global Settings

body {
  color: $primary-text;
  font-family: $font-family;
  margin: 0;
}

// Clearfix

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

// Main Navigation

#main-navigation {
  height: 80px;
  padding: 0;
  margin: 0;
  .navigation-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .brand {
      float: left;
      .brand-logo {
        float: left;
        margin: 0;
        padding-top: 10px;
        img {
          max-height: 60px;
        }
      }
      .brand-title {
        float: right;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
        padding-top: 25px;
        padding-left: 20px;
        span {
          font-weight: 300;
        }
      }
    }

    .main-links {
      float: right;
      font-size: 18px;
      line-height: 18px;
      margin: 0;
      padding-top: 31px;
      a {
        text-decoration: none;
        color: $primary-text;
        margin: 0;
        padding-left: 10px;
      }
    }
  }
}

#sub-navigation {
  height: 40px;
  width: 100%;
  .category-links {
    width: 100%;
    display: flex;
    div {
      width: 25%;
      height: 40px;
      display: flex;
      text-align: center;
      a {
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: $secondary-text;
        font-size: 18px;
        line-height: 18px;
        padding-top: 11px;
      }
    }
    .education-link {
      background: $primary-green;
    }
    .apprentice-link {
      background-color: $primary-pink;
    }
    .resource-link {
      background-color: $primary-blue;
    }
    .job-link {
      background-color: $primary-red;
    }
  }
}

// Filter Section

#filter-wrapper {
  width: 60%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  .filter-dropdown {
    span {
      padding-right: 10px;
    }
    #filter-select {
      height: 20px;
      width: 180px;
      border-radius: 20px;
      background: $background-grey;
      border: 1px $background-grey solid;
    }
  }
}

// Information Section

#information-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  background: $background-grey;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      height: 160px;
      width: 160px;
      border-radius: 20px;
    }
  }
  .information {
    margin: 0 20px 0 20px;
    max-width: 960px;
    .title-container {
      float: left;
      h2 {
        margin: 0;
        font-size: 26px;
      }
    }
    .review-container {
      float: right;
      .stars {
        font-size: 26px;
        .full-star {
          color: $full-star;
        }
        .no-star {
          color: $no-star;
        }
      }
    }
  }
  .filter-list {
    font-weight: 700;
    max-width: 220px;
    .online-bootcamp {
      color: $primary-green;
    }
    .campus-bootcamp {
      color: $primary-pink;
    }
    .online-course {
      color: $primary-blue;
    }
  }
}

// Footer
#copyright-social-container {
  width: 80%;
  margin: 50px auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  .copyright {
    padding: 20px;
    font-weight: 300;
    font-style: italic;
    span {
      font-style: normal;
    }
  }
  .social-links {
    padding: 20px;
    a {
      padding-right: 5px;
      a:nth-child(4) {
        padding-right: 0;
      }
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}

#sub-footer {
  height: 20px;
  width: 100%;
  .category-links {
    width: 100%;
    display: flex;
    div {
      width: 25%;
      height: 20px;
      display: flex;
    }
    .education-link {
      background: $primary-green;
    }
    .apprentice-link {
      background-color: $primary-pink;
    }
    .resource-link {
      background-color: $primary-blue;
    }
    .job-link {
      background-color: $primary-red;
    }
  }
}
