<footer>
  <div id="copyright-social-container">
    <div class="copyright"><span>&copy;</span> Tradewinds Interactive</div>
    <div class="social-links">
      <a href="https://twitter.com/colinrubbert">
        <%= image_tag 'social_icons/twitter.png', alt: "Twitter" %>
      </a>
      <a href="#">
        <%= image_tag 'social_icons/facebook.png', alt: "Facebook" %>
      </a>
      <a href="#">
        <%= image_tag 'social_icons/google_plus.png', alt: "Google Plus" %>
      </a>
      <a href="#">
        <%= image_tag 'social_icons/instagram.png', alt: "Instagram" %>
      </a>
    </div>
  </div>
  <div id="sub-footer">
    <div class="category-links">
      <div class="education-link"></div>
      <div class="apprentice-link"></div>
      <div class="resource-link"></div>
      <div class="job-link"></div>
    </div>
  </div>
</footer>
