<nav id="main-navigation">
  <div class="navigation-container">
    <div class="brand">
      <div class="brand-logo"><img src="/assets/p2j_logo.svg" alt="Path to Junior Logo"></div>
      <div class="brand-title">Path<span>To</span>Junior</div>
    </div>

    <div class="main-links">
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
      <a href="#">Submit a Suggestion</a>
    </div>
  </div>
</nav>
