<nav id="sub-navigation">
  <div class="category-links">
    <div class="education-link"><a href="#">Education</a></div>
    <div class="apprentice-link"><a href="#">Apprenticeships</a></div>
    <div class="resource-link"><a href="#">Resources</a></div>
    <div class="job-link"><a href="#">Job Board</a></div>
  </div>
</nav>
