<nav id="sub-navigation">
  <div class="category-links">
    <div class="link education-link"><%= link_to 'Education', root_path %></div>
    <div class="link apprentice-link"><%= link_to 'Apprenticeships', apprenticeships_path %></div>
    <div class="link resource-link"><%= link_to 'Resources', resources_path %></div>
    <div class="link job-link"><a href="#">Job Board</a></div>
  </div>
</nav>
