<nav id="sub-navigation">
  <div class="category-links">
    <div class="link education-link"><a href="/">Education</a></div>
    <div class="link apprentice-link"><a href="#">Apprenticeships</a></div>
    <div class="link resource-link"><a href="#">Resources</a></div>
    <div class="link job-link"><a href="#">Job Board</a></div>
  </div>
</nav>
